* {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  background-color: white;
  padding-top: 75px;
  /* color: rgb(203, 228, 248); */
  /* color: rgb(3,37,65); */
}

@media (max-width: 700px) {
  .app {
    padding-top: 70px;
  }
}

.pageTitle {
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: rgb(3, 37, 65);
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}